.landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F9E4A0;
    padding: 2rem;
    height: 1rem;
}
.LOGO {
    width: 39%;
    display: flex;
    margin: auto;
}
.navbar{
    display: flex;
    font-size:150%;
    align-items: center;
}
.nav-links {
    margin-left: auto;
    display: flex;
  }
  
  .nav-links a {
    color: black;
    text-decoration: none;
    margin-left: 2rem; 
  }
  
  .nav-links a:hover {
    text-decoration:underline;
  }


  @media screen and (max-width : 430px){
   .landing-page{
    height: 0rem;
    width: 38rem;
   }
    .LOGO{
        width: 40%;
    }
    .landing-page {
        height: 0rem;
        width: 21rem;
    }
  }
  

  @media screen and (max-width : 320px){
     .LOGO{
         width: 50%;
     }
     .navbar{
        display: flex;
        font-size:100%;
        align-items: center;
    }
}