/* Navbar.css */

.landing-page {
  background-color: #fff0bd; /* Change the background color as needed */
  padding: 20px; /* Adjust padding as needed */
  height: 90px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 90px; /* Adjust logo width as needed */
  height: 70px; /* Maintain aspect ratio */
}

.nav-links {
  display: flex;
  font-size: 25px;
}

.nav-links a {
  margin-right: 20px; /* Adjust link spacing as needed */
  color: #000000; /* Change link color as needed */
  text-decoration: none;
}

.nav-links a:hover {
  color: #007bff; /* Change link hover color as needed */
}