.main{
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100%;
}

 /* styles.css */
table {
  width: 100%;
}

h1{
  text-align: center;
}

th, td {
  padding: 8px;
  text-align: left;
} 

th { 
  background-color: #fff0bd;
}

tr:nth-child(even) {
  background-color: #fff0bd;
}

input[type="checkbox"] {
  transform: scale(1.5); 
}


@media screen and (max-width: 840px) {
  .list{
    margin-top: -18rem;
  }
}

@media screen and (max-width: 430px) {
  .list{
    margin-top: -18rem;
  }
}